section {
    position: relative;
    overflow: hidden;
}

section h2 {
    position: relative;
    color: #fff;
    font-size: 12rem;
    z-index: 999;
}

section .layer {
    position: absolute;
    top: -5;
    left: -5;
    width: 110%;
    height: 110%;
}