.MainSection {
    position: relative;
    overflow: hidden;
    width: 100%;
    user-select: none;
}

.mainText {
    font-size: 4rem;
    font-weight: bold;
    color: #cdcdcd;
    z-index: 0;
}

.MainSection img {
    position: absolute;
}