a:hover,
a.active {
    color: yellow;
}

.container {
    max-width: 1170px;
    padding: 0 1.75rem;
    margin-inline: auto;
}

nav {
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    background-color: #ffffff55;
    box-shadow: black;
    transition: padding .3s ease-in-out, opacity .5s ease-in-out, top .5s ease-out;
    opacity: 1;
    z-index: 999;
}

nav.scrolled {
    padding: 2rem 0;
    opacity: 1;
    top: 0;
}

nav .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container .row .logo {
    font-size: 2rem;

}

nav .container .row .menu_bar {
    display: flex;
    align-items: center;
    gap: 3rem;
}

nav .container .row .menu_bar li a {
    text-transform: capitalize;
    font-size: 1.8rem;
}