section {
    padding: 12rem 0;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.ChooseSection {
    height: calc(100vh -6rem);
    background-color: lightcoral;
}

.MapSection {
    background-color: lightseagreen;
}

.AboutSection {
    background-color: lightblue;
}

.MainSection {
    background-color: lightblue;
}