.nav_link {
    display: inline-block;
    width: 152px;
    height: 52px;
    background: 0 0;
    font-size: 14px;
    text-align: center;
    line-height: 52px;
    color: rgba(255, 255, 255, .4);
    font-weight: 400;
    position: relative;
    z-index: 1;
}

.nav_link:not(:last-child)::after {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background: rgba(255, 255, 255, .14);
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 0;
}

.nav_link.active {
    opacity: 1;
    color: #000;
}

.nav_link:hover {
    color: #fff;
}