.root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
}

.input {
    border: #d2d2d3 solid 1px;
    padding: 0 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    background: #fff;
    color: #888888;
    font-size: 16px;
    font-weight: normal;
}

.input:focus {
    border-color: blue;
    outline: none;
}

.suggestions {
    position: absolute;
    top: 0;
    transform: translateY(39px);
    background: #FFF;
    border: 2px solid rgb(34, 34, 34);
    width: 100%;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.listItem {
    padding: 10px 15px;
    cursor: pointer;
}

.listItem:hover {
    background: #efefef;
}