.lng {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.lng img {
    margin-left: 15px;
    border-radius: 5px;
    height: 21px;
}