.container {
    min-width: 700px;
    min-height: 350px;
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: inherit;
}

.row>* {
    flex: 0 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.titlePopup {
    padding-top: 20px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlePopup h2 {
    font-size: 45px;
    font-weight: bold;
    line-height: 50px;
    color: #323232;
}

.bodyPopup {
    padding: 15px;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.actionPopup {
    padding: 15px;
    border: 1px solid blue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.actionPopup .actionBtn {
    font-size: 17px;
    transition: ease-in all 0.5s;
    background-color: #323232;
    text-transform: uppercase;
    color: #fff;
    padding: 25px 0px;
    max-width: 252px;
    width: 100%;
    display: block;
    margin-top: 10px !important;
    font-weight: bold;
    cursor: pointer;
}

.actionPopup .actionSave:hover {
    background-color: #224527c7;
    transition: ease-in all 0.5s;
    color: #fff;
}

.actionPopup .actionCancel:hover {
    background-color: #3e0f0fc7;
    transition: ease-in all 0.5s;
    color: #fff;
}